<br>
<h1> Trainers List</h1>
<!-- Showing Users data -->
<div class="table-responsive">
  <table class="table table-bordered table-responsive-sm table-responsive-md ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Department</th>
        <th scope="col">Deactive Account</th>
        <!-- <th scope="col">Edit or Delete Users </th> -->
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of contacts  let i = index;">
        <th scope="row">{{ i + 1 }}</th>
        <td><img class="avatar" src="../../../assets/Favatar.png"> {{user.name}} </td>
        <td>{{user.name}}</td>
        <td>{{user.name}}</td>
        <td> <button class="btn btn-outline-info"><span class="material-icons">person_off</span></button></td>
        <!-- <td >
          <button class="btn btn-outline-info"><i class="fa fa-trash"  (click)="deleteUser(user)"></i></button>
          <button class="btn btn-outline-info"><i class="fa fa-edit"></i></button>
          </td> -->
      </tr>
    </tbody>
  </table>
</div>